 body{
    margin: 1rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.container-1{
    display: flex;
    /* height: 400px; */
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.name{
    display: flex;
    margin-right: 20px;
}
.profile{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 1em;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.container-2{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.City{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paris{
    display: flex;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
 h3{
text-align: left;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.container-3{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
table{
    width: 80%;
    border-collapse: collapse;
}
table, td, th{
    border: 3px solid black;
    margin-top: 20px;
    text-align: center;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.container-4{
    color: white;
    text-align:center;
    flex-direction: column;
}
.title{
    text-align: center;
}
.History{
    display: flex;
}

.macya{
    border: 3px solid lawngreen;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
}
.Place1{
    border-radius: 1em;
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 8px;
}
.Place2{
    border-radius: 1em;
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 8px;
}
.Place3{
    border-radius: 1em;
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 8px;
}
/* .content-1{
    border-radius: 1em;
    border: 1px solid lawngreen;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    height: 220px;
}
.content-2{
    border-radius: 1em;
    border: 1px solid lawngreen;
    padding: 0.5em;
    margin: 0.5em;
    height: 220px;
}
.content-3{
    border-radius: 1em;
    border: 1px solid lawngreen;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    height: 220px;
} */

@media only screen and (max-width: 1000px){
    .container-1{
        flex-direction: column;
    }
    .profile{
        float: right;
        text-align: center;
    }
    /* ++++++++++++++++++++++++++++++++++++++++++ */
    
    .City{
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
    /* +++++++++++++++++++++++++++++++++++++++++ */
    .History{
        flex-direction: column;
    }
    .title{
        text-align: center;
    }
    .Place2{
    float: left;
}
    
}